.v-toolbar__title {
  cursor:pointer;
}

.r {
  color: #ff6b6b;
}

.g {
  color: #51cf66;
}

.b {
  color: #339af0;
}

pre {
  overflow-x: auto !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}